<div class="padding" ng-controller="LearnMoreController">

  <super-navbar>
    <super-navbar-title>Radiostreamer</super-navbar-title>
    <super-navbar-button side="right"></super-navbar-button>
  </super-navbar>

  <h3>{{title}}</h3>

  <super-navigate view-id="using-the-scanner">
    <button class="button button-block button-positive icon-left super-wand">Using the AppGyver Scanner</button>
  </super-navigate>

  <super-navigate view-id="learn-more">
    <button class="button button-block button-positive icon-left super-university">Learn more</button>
  </super-navigate>

  <div class="card padding">
    <h4>用户登陆</h4>
    <label class="item item-input">
      <input type="text" ng-model="username" placeholder="用户名">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="password" placeholder="用户密码">
    </label>

    {{username}}--{{password}}

    <!--<button ng-click="login()" class="button button-energized" style="float:right">-->
      <!--登陆-->
    <!--</button>-->

    <!--<button ng-click="AVTest()" class="button button-energized" style="float:right">-->
      <!--AV-->
    <!--</button>-->

  </div>


  <h2>Get in touch with us!</h2>

</div>
