<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title><%= yield.viewName %></title>

  <link rel="stylesheet" href="/components/supersonic/css/supersonic.css" />
  <link rel="stylesheet" href="/app/common/stylesheets/application.css" />
  <link rel="import" href="/components/supersonic/components/import.html">

  <link rel="stylesheet" href="/components/onsenui/build/css/onsenui.css" />
  <link rel="stylesheet" href="/components/onsenui/build/css/onsen-css-components-blue-basic-theme.css" />
  <!--<link rel="stylesheet" href="/app/common/assets/plugins/stickyList/jquery.ioslist.css" />-->
  <link rel="stylesheet" href="/components/ionicons/css/ionicons.min.css" />

  <link rel="stylesheet" href="/app/common/assets/plugins/animate.min.css" />

  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-animate/angular-animate.js"></script>
  <script src="/components/onsenui/build/js/onsenui.min.js"></script>
  <script src="/components/supersonic/supersonic.js"></script>
  <script src="/components/webcomponentsjs/webcomponents.js"></script>
  <!--todo: remove it-->
  <!--<script src="/app/common/assets/plugins/stickyList/jquery.ioslist.js"></script>-->


  <!--<script src="/components/jquery/dist/jquery.min.js"></script>-->
  <script src="/components/lodash/lodash.min.js"></script>

  <script src="https://leancloud.cn/scripts/lib/av-0.5.0.min.js"></script>

  <script>
    AV.initialize("18wnl0x6t9c4yfk34d30qmzhvr9a5xkiuv866tuc1n9170xo", "astaw0i7ipqye5u7fo0rsqcailo6tb6qjh7v8u9vog8fk9lg");
  </script>


  <% _.each(yield.modules, function(module) { %>
  <script src="/app/<%= module %>.js"></script>
  <% }); %>
</head>
<body ng-app="<%= yield.moduleName %>">

<%= yield.view %>

</body>
</html>
