<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>Radiostreamer</super-navbar-title>
    <super-navbar-button side="right"></super-navbar-button>
  </super-navbar>

  <div class="padding">
    <h1>Pow! Here's your fresh module!</h1>
  </div>

  <!--<super-navigate view-id="using-the-scanner">-->
    <!--<button class="button button-block button-positive icon-left super-wand">Using the AppGyver Scanner</button>-->
  <!--</super-navigate>-->

  <!--<super-navigate view-id="learn-more">-->
    <!--<button class="button button-block button-positive icon-left super-university">Learn more</button>-->
  <!--</super-navigate>-->

</div>





